.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 80%;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide-prev,.swiper-slide-next{  
  align-self:center;
}

// .sample-slider{
//   bottom: 0;
// }

// .swiper .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
//   bottom: 0;
// }

// .swiper-pagination .swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
//   position: static;
// }