$tablet:768px;
$PC: 1512px;

$font_large:18px;
$font_medium:16px;
$font_normal:15px;
$font_small:13px;

$title_m:35px;
$title_s:20px;

$title_lineHeight:1.6;

$main_blue:#4527A0;
$secondary_green:#26A69A;
$secondary_orange:#FFB300;
$Secondary_pink:#EC407A;

$dark1:#222222;
$dark2:#333333;
$dark3:#666666;
$dark4:#888888;
$dark5:#999999;
// $gary30:#C1C1C1;
$light1:#A9A9A9;
$light2:#B9B9B9;
$light3:#D9D9D9;
$light4:#E9E9E9;
$light5:#FAFAFA;
$white:#FFFFFF;