*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Noto Sans TC','Roboto', sans-serif;
  font-weight: regular;
  line-height: 1.5;
}

html body {
  min-height: 100vh;
  min-width: 393px;
  background-color: #4527A0;
}

a{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}

h1{
  font-size: 44px;
}

h2{
  font-size: 36px;
}

h3{
  font-size: 28px;
}

h4{
  font-size: 24px;
}

h5{
  font-size: 20px;
}

h6{
  font-size: 16px;
}