.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper{
  margin-bottom: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 80%;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide-prev,.swiper-slide-next{  
  align-self:center;
}

.swiper-pagination {
  position: static;
  line-height: 0;
}

.swiper-pagination-bullet{
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active{
  background-color:#4527A0;
}