.splide .splide__pagination__page{
  background:white;
}

.splide .splide__pagination__page.is-active{
  background:#4527A0;
}

.splide__track{
  margin-bottom: 20px;
}

.splide__slide{
  display:flex;
  align-items:center;
}

.splide__pagination{
  position: static;
}